// Colour

$base-black: #000000;
$base-white: #FFFFFF;
$base-grey :#423A3A;
$base-red: #F96464;
$base-pink: #CE9898;

$gradient-1: #F8BFBF;
$gradient-11: #EE8B8B;

$gradient-2: #FFFFFF;
$gradient-21: #FFF4F4;

$gradient-3: #FFF1F1;
$gradient-31: #FFFFFF;

//typography

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


.coming-soon {
  background: linear-gradient(to right, $gradient-2, $gradient-21);
  font-family: "Josefin Sans", sans-serif;

}

.title-first {
  color: $base-pink;
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 10px;
  margin: auto;
}

.title-second {
  color: $base-black;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 10px;
  margin: auto;
}

.text-description {
  color: $base-pink;
  font-size: 14px;
  line-height: 115%;
  margin: auto;
  padding: 32px 0;
}

.logo {
    padding: 32px;
}

.hero-images {
    display: block;
    width: 100%;
}

.hero-content {
    text-align: center;
    padding: 64px 20px;
}

.hero-button {
  border: 1px solid $base-pink;
  border-radius: 28px;
  width: 311px;
  height: 48px;
  display: block;
  justify-self: center;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.input-text {
  text-align: left;
  background: linear-gradient(to right, $gradient-2 0%, $gradient-21 100%);
  
}

::placeholder {
  color: $base-pink;
  opacity: 1; /* Firefox */
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 175%;
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: $base-pink;
}

input {
  border:0;
  outline:0;
}

input:focus {
  outline:none!important;
}

button {
  border: none;
  border-radius: 28px;
  width: 64px;
  height: 49px;
  position: absolute;
  right: 0;
  background: linear-gradient(to right, $gradient-1, $gradient-11);
}

@media (min-width: 799px) {
  .coming-soon {
    display: grid;
    grid-template-columns: 1fr 2fr;
  gap: 20px;
  }

  .logo {
    grid-column: 1;
    grid-row: 1;
  }
  .content {
    grid-column: 2;
    grid-row: 1;
  }

  .hero-content {
    grid-column: 1;
    grid-row: 1;
  }
}